<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDirectory" value="${basedir}/logs/" />
	<targets>

		<!-- JSONLayout -->
		<target name="jsonLogFile1" xsi:type="File" fileName="${logDirectory}${shortdate}-LifeApp.Web-log.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate:universalTime=false:timeZone=America/New_York}" />
				<attribute name="level" layout="${level:upperCase=true}" />
				<attribute name="IPAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}" />
				<attribute name="Username" layout="${scopeproperty:Username}" />
				<attribute name="callsite" layout="${callsite}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring,Data}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="Microsoft.*" minLevel="Trace" maxLevel="Info" final="true" />
		<logger name="System.*" minLevel="Trace" maxLevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Routing.*" minLevel="Trace" maxLevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.StaticFiles.*" minLevel="Trace" maxLevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.DataProtection.*" minLevel="Trace" maxLevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.RazorPages.*" minLevel="Trace" maxLevel="Info" final="true" />
		
		<logger name="*" minLevel="info" writeTo="jsonLogFile1" />
	</rules>

</nlog>